<!DOCTYPE html>
<html>
  <head>
    <base href = '/'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="display: none;">
      <symbol id="roundButtonGroup" viewbox="0 0 401.8 370.6" class="buttons">
        <path id="big" d="M361.7,171.3c-22.1,0-40.1,18-40.1,40.1s18,40.1,40.1,40.1c22.1,0,40.1-18,40.1-40.1        S383.8,171.3,361.7,171.3z"></path>
        <path id="small" d="M313.8,259.2c-30.7,0-55.7,25-55.7,55.7s25,55.7,55.7,55.7s55.7-25,55.7-55.7        S344.5,259.2,313.8,259.2z"></path>
        <path id="medium" d="M313.8,256.2c12,0,23.1,3.6,32.4,9.8c2.1-4.1,4.1-8.4,5.9-12.7c-19.1-4.4-33.3-21.5-33.3-41.9        c0-23.7,19.3-43.1,43.1-43.1c1.3,0,2.5,0.1,3.7,0.2C358,74.2,279.2,0,183,0C81.9,0,0,81.9,0,183s81.9,183,183,183        c29.3,0,57-6.9,81.6-19.2c-6-9.2-9.5-20.2-9.5-32C255.1,282.5,281.4,256.2,313.8,256.2z"></path>
      </symbol>
      <symbol id="squareButtonGroup" viewbox="0 0 402.53 80.76" class="buttons">
        <path d="M321.4,78.3V3.1c-26.1-1.3-52.4-2.3-78.1-2.7v80.1C269,80.1,295.3,79.4,321.4,78.3z"></path>
        <path d="M394.6,8c-23-1.9-46.6-3.5-70.2-4.7v74.9c23.6-1,47.1-2.3,70-3.8c4.5-0.3,8.1-3.9,8.1-8.3V16.3        C402.5,12,399.1,8.3,394.6,8z"></path>
        <path d="M0,16.3v49.8c0,4.4,3.5,8,8.1,8.3c23.2,1.5,46.8,2.8,70,3.8v-75C54.7,4.5,31.1,6.1,7.9,8        C3.5,8.3,0,12,0,16.3z"></path>
        <path d="M159.2,80.5V0.4c-26.1,0.5-52.3,1.4-78.1,2.7v75.2C106.9,79.4,133.2,80.1,159.2,80.5z"></path>
        <path d="M162.2,0.3v80.2c25.7,0.3,52,0.3,78.1,0V0.3C214.2-0.1,187.9-0.1,162.2,0.3z"></path>
      </symbol>
      <symbol id="logo" viewbox="0 0 459.35 115.8" class="buttons">
        <path d="M36.7,85.9c11.3,0,20.6-9.2,20.6-20.6c0-11.3-9.2-20.6-20.6-20.6c-11.3,0-20.6,9.2-20.6,20.6        C16.2,76.7,25.4,85.9,36.7,85.9z M36.7,47.4c9.9,0,17.9,8,17.9,17.9s-8,17.9-17.9,17.9c-9.9,0-17.9-8-17.9-17.9        S26.8,47.4,36.7,47.4z"></path>
        <circle cx="36.7" cy="65.4" r="7"></circle>
        <path d="M19.5,95.9h78.6c4.7,0,8.6-3.8,8.6-8.6V43.4c0-4.7-3.8-8.6-8.6-8.6h-0.7H81.7h-4.3H34.9        l11.9-6.6l-0.3-0.6l19-10.6L65,16.3L84.9,5.2c0.3,0.5,0.8,0.6,1.3,0.4l2.3-1.3c1.1-0.6,1.5-2,0.9-3.1c-0.6-1.1-2-1.5-3.1-0.9        L84,1.6c-0.5,0.3-0.6,0.8-0.4,1.3L63.7,14l-0.4-0.7l-19,10.6L44,23.3L23.4,34.8h-3.9c-4.7,0-8.6,3.8-8.6,8.6v43.9        C10.9,92,14.8,95.9,19.5,95.9z M98.6,81.9H68.9c-1,0-1.9-0.8-1.9-1.9c0-1,0.8-1.9,1.9-1.9h29.7c1,0,1.9,0.8,1.9,1.9        C100.5,81,99.6,81.9,98.6,81.9z M98.6,74.3H68.9c-1,0-1.9-0.8-1.9-1.9c0-1,0.8-1.9,1.9-1.9h29.7c1,0,1.9,0.8,1.9,1.9        C100.5,73.5,99.6,74.3,98.6,74.3z M98.6,66.8H68.9c-1,0-1.9-0.8-1.9-1.9c0-1,0.8-1.9,1.9-1.9h29.7c1,0,1.9,0.8,1.9,1.9        C100.5,65.9,99.6,66.8,98.6,66.8z M65.5,54.3c0-2.6,2.3-4.8,5-4.8h26.8c2.8,0,5,2.1,5,4.8v0c0,2.6-2.3,4.8-5,4.8H70.5        C67.7,59.1,65.5,56.9,65.5,54.3L65.5,54.3z M36.7,43.2c12.2,0,22.1,9.9,22.1,22.1c0,12.2-9.9,22.1-22.1,22.1        c-12.2,0-22.1-9.9-22.1-22.1C14.6,53.2,24.5,43.2,36.7,43.2z"></path>
        <path d="M114.1,91.6L114.1,91.6c-0.8,0-1.6,0.3-2.2,0.7c-13.4,10.6-32.3,17.2-53.1,17.2        c-20.8,0-39.7-6.6-53.1-17.2c-0.6-0.5-1.4-0.7-2.2-0.7c-3.4,0-4.8,4.3-2.1,6.4c14.8,11.1,35.1,17.9,57.4,17.9        c22.3,0,42.6-6.8,57.4-17.9C118.9,95.9,117.5,91.6,114.1,91.6z"></path>
        <path d="M117.6,68.3c0-3.5-0.1-5.9-0.2-8.2h5.6l0.2,4.9h0.2c1.3-3.6,4.2-5.4,7-5.4        c0.6,0,1,0.1,1.5,0.2v6.1c-0.5-0.1-1.1-0.2-1.9-0.2c-3.1,0-5.2,2-5.8,4.9c-0.1,0.6-0.2,1.3-0.2,2v13.2h-6.4V68.3z"></path>
        <path d="M150.1,85.6l-0.4-2.8h-0.2c-1.6,2-4.2,3.4-7.5,3.4c-5.1,0-8-3.7-8-7.6c0-6.4,5.7-9.7,15.1-9.6        v-0.4c0-1.7-0.7-4.4-5.2-4.4c-2.5,0-5.1,0.8-6.9,1.9l-1.3-4.2c1.9-1.2,5.2-2.2,9.2-2.2c8.2,0,10.5,5.2,10.5,10.7v9.2        c0,2.3,0.1,4.5,0.4,6.1H150.1z M149.2,73.1c-4.5-0.1-8.9,0.9-8.9,4.8c0,2.5,1.6,3.7,3.7,3.7c2.6,0,4.4-1.7,5-3.5        c0.2-0.5,0.2-1,0.2-1.4V73.1z"></path>
        <path d="M185.8,48.4v30c0,2.6,0.1,5.4,0.2,7.2h-5.8l-0.3-4h-0.1c-1.5,2.8-4.6,4.6-8.3,4.6        c-6.1,0-10.9-5.2-10.9-13c-0.1-8.5,5.3-13.6,11.4-13.6c3.5,0,6,1.5,7.2,3.3h0.1V48.4H185.8z M179.3,70.7c0-0.5-0.1-1.2-0.2-1.7        c-0.6-2.5-2.6-4.5-5.5-4.5c-4.1,0-6.4,3.7-6.4,8.4c0,4.7,2.3,8.1,6.4,8.1c2.6,0,4.9-1.8,5.5-4.5c0.2-0.6,0.2-1.2,0.2-1.9V70.7z"></path>
        <path d="M199.5,53c0,1.9-1.4,3.5-3.7,3.5c-2.1,0-3.6-1.5-3.6-3.5c0-2,1.5-3.5,3.6-3.5        C198.1,49.5,199.5,51,199.5,53z M192.7,85.6V60.1h6.5v25.5H192.7z"></path>
        <path d="M230.3,72.6c0,9.4-6.6,13.5-13.1,13.5c-7.2,0-12.8-5-12.8-13.1c0-8.4,5.5-13.5,13.2-13.5        C225.2,59.5,230.3,64.8,230.3,72.6z M211.1,72.8c0,4.9,2.4,8.6,6.3,8.6c3.7,0,6.2-3.6,6.2-8.7c0-4-1.8-8.5-6.2-8.5        C212.9,64.2,211.1,68.6,211.1,72.8z"></path>
        <path d="M236.3,85.6V64.9h-3.5v-4.8h3.5V59c0-3.3,0.9-6.6,3.1-8.7c1.9-1.8,4.4-2.5,6.6-2.5        c1.7,0,3.1,0.3,4.1,0.6l-0.5,5c-0.7-0.3-1.6-0.5-2.7-0.5c-3.2,0-4.3,2.7-4.3,5.8v1.3h5.6v4.8h-5.5v20.7H236.3z"></path>
        <path d="M252.3,68.3c0-3.5-0.1-5.9-0.2-8.2h5.6l0.2,4.9h0.2c1.3-3.6,4.2-5.4,7-5.4        c0.6,0,1,0.1,1.5,0.2v6.1c-0.5-0.1-1.1-0.2-1.9-0.2c-3.1,0-5.2,2-5.8,4.9c-0.1,0.6-0.2,1.3-0.2,2v13.2h-6.4V68.3z"></path>
        <path d="M277.7,53c0,1.9-1.4,3.5-3.7,3.5c-2.1,0-3.6-1.5-3.6-3.5c0-2,1.5-3.5,3.6-3.5        C276.3,49.5,277.7,51,277.7,53z M270.9,85.6V60.1h6.5v25.5H270.9z"></path>
        <path d="M288.8,74.6c0.2,4.6,3.8,6.6,7.8,6.6c3,0,5.1-0.4,7.1-1.2l0.9,4.4c-2.2,0.9-5.2,1.6-8.9,1.6        c-8.3,0-13.1-5.1-13.1-12.9c0-7.1,4.3-13.7,12.4-13.7c8.3,0,11,6.8,11,12.4c0,1.2-0.1,2.1-0.2,2.7H288.8z M300,70.1        c0.1-2.4-1-6.2-5.3-6.2c-4,0-5.6,3.6-5.9,6.2H300z"></path>
        <path d="M311.2,67.7c0-2.9-0.1-5.4-0.2-7.6h5.6l0.3,3.8h0.2c1.1-2,3.9-4.4,8.1-4.4c4.4,0,9,2.9,9,10.9        v15.1h-6.4V71.2c0-3.7-1.4-6.4-4.9-6.4c-2.6,0-4.3,1.8-5,3.8c-0.2,0.6-0.3,1.4-0.3,2.1v15h-6.5V67.7z"></path>
        <path d="M364.6,48.4v30c0,2.6,0.1,5.4,0.2,7.2h-5.8l-0.3-4h-0.1c-1.5,2.8-4.6,4.6-8.3,4.6        c-6.1,0-10.9-5.2-10.9-13c-0.1-8.5,5.3-13.6,11.4-13.6c3.5,0,6,1.5,7.2,3.3h0.1V48.4H364.6z M358.2,70.7c0-0.5-0.1-1.2-0.2-1.7        c-0.6-2.5-2.6-4.5-5.5-4.5c-4.1,0-6.4,3.7-6.4,8.4c0,4.7,2.3,8.1,6.4,8.1c2.6,0,4.9-1.8,5.5-4.5c0.2-0.6,0.2-1.2,0.2-1.9V70.7z"></path>
        <path d="M371.2,79.6c1.5,0.9,4.2,1.8,6.5,1.8c2.8,0,4.1-1.2,4.1-2.8c0-1.7-1-2.6-4.2-3.7        c-5-1.7-7.1-4.4-7-7.4c0-4.5,3.7-8,9.6-8c2.8,0,5.3,0.7,6.7,1.5l-1.3,4.5c-1.1-0.6-3.1-1.5-5.4-1.5c-2.3,0-3.6,1.1-3.6,2.7        c0,1.6,1.2,2.4,4.4,3.6c4.6,1.7,6.7,4,6.8,7.8c0,4.6-3.6,7.9-10.4,7.9c-3.1,0-5.9-0.7-7.7-1.8L371.2,79.6z"></path>
        <path d="M392,82c0-2.4,1.7-4.1,4-4.1c2.4,0,4,1.7,4,4.1c0,2.4-1.6,4.1-4,4.1        C393.6,86.1,392,84.4,392,82z"></path>
        <path d="M405.9,85.6V64.9h-3.5v-4.8h3.5V59c0-3.3,0.9-6.6,3.1-8.7c1.9-1.8,4.4-2.5,6.6-2.5        c1.7,0,3.1,0.3,4.1,0.6l-0.5,5c-0.7-0.3-1.6-0.5-2.7-0.5c-3.2,0-4.3,2.7-4.3,5.8v1.3h5.6v4.8h-5.5v20.7H405.9z"></path>
        <path d="M421.8,67.7c0-2.9-0.1-5.4-0.2-7.6h5.5l0.3,3.8h0.2c1.3-2,3.6-4.3,7.8-4.3        c3.3,0,6,1.9,7.1,4.7h0.1c0.9-1.4,1.9-2.5,3.1-3.2c1.4-1,3-1.5,5.1-1.5c4.2,0,8.5,2.9,8.5,11v15h-6.3V71.5c0-4.2-1.5-6.7-4.5-6.7        c-2.2,0-3.8,1.6-4.5,3.4c-0.2,0.6-0.3,1.4-0.3,2.1v15.3h-6.3V70.8c0-3.6-1.4-6.1-4.4-6.1c-2.4,0-4,1.9-4.6,3.7        c-0.3,0.6-0.4,1.4-0.4,2.1v15.1h-6.3V67.7z"></path>
      </symbol>
      <symbol id="swipeLeft" viewbox="0 0 75.07 150.15">
        <path d="M0,0c41.5,0,75.1,33.6,75.1,75.1S41.5,150.2,0,150.2"></path>
      </symbol>
      <symbol id="swipeRight" viewbox="0 0 75.07 150.15">
        <path d="M75.1,150.2C33.6,150.2,0,116.5,0,75.1S33.6,0,75.1,0"></path>
      </symbol>
      <symbol id="mic" viewbox="0 0 50.2 100" class="icon">
        <path d="M44.2,33.9v18.9c0,10.4-8.5,18.9-18.9,18.9h-0.3C14.5,71.7,6,63.3,6,52.8V33.9        c0-1.3-1.1-2.4-2.4-2.4H2.4c-1.3,0-2.4,1.1-2.4,2.4v21.4c0,10.5,7.2,19.3,17,21.8c1.1,0.3,1.8,1.2,1.8,2.4v8c0,1.3-1.1,2.4-2.4,2.4        h-4.8c-1.3,0-2.4,1.1-2.4,2.4v5.2c0,1.3,1.1,2.4,2.4,2.4h27c1.3,0,2.4-1.1,2.4-2.4v-5.2c0-1.3-1.1-2.4-2.4-2.4h-4.8        c-1.3,0-2.4-1.1-2.4-2.4v-8c0-1.1,0.8-2.1,1.8-2.4c9.8-2.5,17-11.3,17-21.8V33.9c0-1.3-1.1-2.4-2.4-2.4h-1.1        C45.3,31.4,44.2,32.5,44.2,33.9z"></path>
        <path d="M25.1,68.6L25.1,68.6c8.8,0,15.9-7.2,15.9-15.9V15.9C41,7.2,33.8,0,25.1,0h0        C16.3,0,9.2,7.2,9.2,15.9v36.7C9.2,61.4,16.3,68.6,25.1,68.6z"></path>
      </symbol>
      <symbol id="live" viewbox="0 0 69.6 45.5" class="icon">
        <circle cx="34.8" cy="22.9" r="5.1"></circle>
        <path d="M12.6,3.5l-0.4-0.3L8.6,0C6.2,2.8,4.2,5.9,2.7,9.4C0.9,13.7,0,18.2,0,22.9        c0,4.7,0.9,9.3,2.7,13.5c1.4,3.3,3.3,6.4,5.6,9.1l3.9-3.4l0.1-0.1C8,36.9,5.3,30.2,5.3,22.9C5.3,15.5,8.1,8.7,12.6,3.5z"></path>
        <path d="M20.3,10.1l-4-3.5c-4,4.5-6.1,10.2-6.1,16.3c0,5.9,2.1,11.6,5.9,16l4-3.5        c-2.9-3.4-4.6-7.8-4.6-12.5C15.4,18,17.2,13.5,20.3,10.1z"></path>
        <path d="M27.7,16.5l-4-3.5c-2.3,2.6-3.8,6.1-3.8,9.9c0,3.6,1.3,7,3.5,9.6l4-3.5        c-1.4-1.7-2.2-3.8-2.2-6.1C25.2,20.5,26.2,18.2,27.7,16.5z"></path>
        <path d="M41.9,16.5c1.5,1.7,2.5,3.9,2.5,6.4c0,2.3-0.8,4.4-2.2,6.1l4,3.5c2.2-2.6,3.5-5.9,3.5-9.6        c0-3.8-1.4-7.2-3.8-9.9L41.9,16.5z"></path>
        <path d="M49.3,10.1c3,3.4,4.9,7.9,4.9,12.8c0,4.8-1.7,9.2-4.6,12.5l4,3.5c3.8-4.5,5.9-10.1,5.9-16        c0-6.1-2.2-11.8-6.1-16.3L49.3,10.1z"></path>
        <path d="M61,0l-3.7,3.2l-0.4,0.3c4.6,5.2,7.3,12,7.3,19.4c0,7.3-2.7,14-7.1,19.1l0.1,0.1l3.9,3.4        c2.3-2.7,4.2-5.8,5.6-9.1c1.8-4.3,2.7-8.8,2.7-13.5c0-4.7-0.9-9.3-2.7-13.5C65.4,5.9,63.4,2.8,61,0z"></path>
      </symbol>
      <symbol id="upload" viewbox="0 0 36.2 39.4" class="icon">
        <path d="M31.2,20.4L20.4,9.6c-0.5-0.5-1.2-0.8-2-0.9c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.2,0        c0,0-0.1,0-0.1,0c-0.8,0.1-1.5,0.4-2,0.9L5,20.4c-1.2,1.2-1.2,3.2,0,4.4c0.6,0.6,1.4,0.9,2.2,0.9c0.8,0,1.6-0.3,2.2-0.9l5.6-5.7        v17.2c0,1.7,1.4,3,3,3c1.7,0,3-1.4,3-3V19.1l5.6,5.7c0.6,0.6,1.4,0.9,2.2,0.9c0.8,0,1.6-0.3,2.2-0.9C32.4,23.6,32.4,21.6,31.2,20.4        z"></path>
        <path d="M3,6.1h30.2c1.7,0,3-1.4,3-3c0-1.7-1.3-3-3-3L3,0C1.4,0,0,1.4,0,3C0,4.7,1.4,6.1,3,6.1z"></path>
      </symbol>
      <symbol id="stop" viewbox="0 0 40.2 25.2" class="icon">
        <path d="M29,26.3H10.6C8,26.3,6,24.2,6,21.7V3.4C6,0.9,8-1.2,10.6-1.2H29c2.5,0,4.6,2.1,4.6,4.6v18.2        C33.6,24.2,31.6,26.3,29,26.3z"></path>
      </symbol>
      <symbol id="pause" viewbox="0 0 27.8 34.7" class="icon">
        <path d="M9.6,31.8V2.9C9.6,1.3,7.4,0,4.8,0C2.1,0,0,1.3,0,2.9l0,28.9c0,1.6,2.1,2.9,4.8,2.9        C7.4,34.7,9.6,33.4,9.6,31.8z"></path>
        <path d="M27.8,31.8V2.9C27.8,1.3,25.6,0,23,0c-2.6,0-4.8,1.3-4.8,2.9v28.9c0,1.6,2.1,2.9,4.8,2.9        C25.6,34.7,27.8,33.4,27.8,31.8z"></path>
      </symbol>
      <symbol id="post" viewbox="-20 -20 220 142.9" class="icon">
        <polygon points="0,78.8 42.6,101.6 146.9,17 58,109.4 108.3,136.3 165.3,0"></polygon>
        <polygon points="57.5,142.9 73.6,122.7 57.5,114"></polygon>
      </symbol>
      <symbol id="delete" viewbox="172.5 165 27.6 34.4" class="icon">
        <path d="M173.4,172.5v23.4c0,2,1.5,3.6,3.5,3.6h17.3c2,0,3.3-1.5,3.5-3.6v-23.4H173.4z M178.9,176.1c0.8,0,1.4,0.6,1.4,1.4v17c0,0.8-0.6,1.4-1.4,1.4c-0.8,0-1.4-0.6-1.4-1.4v-17C177.5,176.7,178.1,176.1,178.9,176.1zM185.5,176.1c0.9,0,1.6,0.7,1.6,1.6v16.6c0,0.9-0.7,1.6-1.6,1.6c-0.9,0-1.6-0.7-1.6-1.6v-16.6C183.9,176.8,184.6,176.1,185.5,176.1zM192,176.1c0.8,0,1.4,0.6,1.4,1.4v17c0,0.8-0.6,1.4-1.4,1.4c-0.8,0-1.4-0.6-1.4-1.4v-17C190.6,176.7,191.3,176.1,192,176.1z"></path>
        <path d="M181.8,165.1c-0.8,0-1.5,0.7-1.5,1.5v0.5h-7.8c-0.4,0-0.8,0.4-0.8,0.8v1.9c0,0.5,0.4,0.8,0.8,0.8h26c0.4,0,0.8-0.4,0.8-0.8v-1.9c0-0.5-0.4-0.8-0.8-0.8h-7.8v-0.5c0-0.8-0.7-1.5-1.5-1.5H181.8z"></path>
      </symbol>
      <symbol id="comment" viewbox="0 0 44.1 34.6" class="icon">
        <path d="M17.3,0c4.2,0,8.2,0.9,11.7,3.3c3,2,5.1,4.6,5.5,8.2c0.4,2.9-0.6,5.5-2.5,7.7        c-3.1,3.6-7.2,5.2-11.8,5.8c-2.2,0.3-4.5,0.3-6.7-0.1c-0.5-0.1-0.9,0.1-1.2,0.3c-2.3,1.5-4.9,2.5-7.6,3c-0.6,0.1-1.2,0.2-1.5-0.4        c-0.4-0.7,0.1-1.1,0.5-1.5c0.9-0.9,1.7-1.9,2.3-3c0.4-0.6,0.3-1-0.4-1.4c-1.9-1.2-3.5-2.8-4.5-4.8c-2.1-3.8-1.3-8.5,1.9-11.7        C6.1,2.3,10,0.8,14.3,0.2C15.3,0,16.3,0,17.3,0z"></path>
        <path d="M15.4,28.2c0.2-0.2,0.5-0.2,0.7-0.1c4.3,0.3,8.3-0.5,12.1-2.4c4.1-2,7.3-5,8.8-9.5        c0.7-2.2,0.7-4.4,0.2-6.6c-0.1-0.2-0.3-0.5,0-0.7c0.2-0.1,0.4,0.1,0.6,0.2c2.7,1.7,4.9,3.9,5.8,7.1c1,3.7-0.1,6.8-2.6,9.6        c-0.8,0.9-1.8,1.7-2.8,2.3c-0.5,0.3-0.6,0.6-0.3,1.2c0.5,1,1.2,1.9,2,2.7c0.2,0.2,0.4,0.5,0.6,0.7c0.3,0.4,0.5,0.7,0.3,1.2        c-0.3,0.5-0.7,0.6-1.2,0.5c-1.5-0.2-2.9-0.6-4.3-1.2c-1.3-0.5-2.5-1.1-3.6-1.9c-0.5-0.3-1-0.4-1.5-0.3c-5.1,0.7-9.9,0.1-14.3-2.6        c-0.1-0.1-0.2-0.1-0.3-0.2C15.5,28.4,15.4,28.3,15.4,28.2z"></path>
      </symbol>
      <symbol id="previous" viewbox="0 0 34.6 36.2" class="icon">
        <path d="M31.8,0.2L3.6,16.5c-1.2,0.7-1.2,2.5,0,3.2L31.8,36c1.2,0.7,2.8-0.2,2.8-1.6V1.8        C34.6,0.4,33-0.5,31.8,0.2z"></path>
        <path d="M1.8,36.2H0.9c-0.5,0-0.9-0.4-0.9-0.9V0.9C0,0.4,0.4,0,0.9,0h0.9c0.5,0,0.9,0.4,0.9,0.9v34.4        C2.7,35.8,2.3,36.2,1.8,36.2z"></path>
      </symbol>
      <symbol id="play" viewbox="-5 0 48.9 55.6" class="icon">
        <path d="M4.2,0.4l43.3,25c1.9,1.1,1.9,3.8,0,4.9l-43.3,25C2.3,56.3,0,55,0,52.8l0-50        C0,0.7,2.3-0.7,4.2,0.4z"></path>
      </symbol>
      <symbol id="next" viewbox="0 0 34.6 36.2" class="icon">
        <path d="M2.8,0.2l28.2,16.3c1.2,0.7,1.2,2.5,0,3.2L2.8,36C1.5,36.7,0,35.8,0,34.4L0,1.8        C0,0.4,1.5-0.5,2.8,0.2z"></path>
        <path id="XMLID_247_" d="M32.8,36.2h0.9c0.5,0,0.9-0.4,0.9-0.9V0.9c0-0.5-0.4-0.9-0.9-0.9l-0.9,0        c-0.5,0-0.9,0.4-0.9,0.9v34.4C31.8,35.8,32.3,36.2,32.8,36.2z" class="st0"></path>
      </symbol>
      <symbol id="message" viewbox="0 0 40.2 25.2" class="icon">
        <path d="M0,1.4l0,22.4l13.2-10.7L0,1.4z M40.2,1.3L27,13.1        l13.2,10.6L40.2,1.3L40.2,1.3z M14.8,14.5L1.6,25.2l18.5,0l18.5,0L25.4,14.5l-1.2,1.1c-0.5,0.4-1,0.9-1.7,1.3        c-0.7,0.4-1.5,0.7-2.4,0.7c-0.9,0-1.7-0.3-2.4-0.6c-0.7-0.4-1.2-0.8-1.7-1.3L14.8,14.5L14.8,14.5z"></path>
        <path d="M1.7,0L17.4,14c0.5,0.4,0.9,0.8,1.4,1        c0.4,0.2,0.9,0.4,1.3,0.4c0.4,0,0.9-0.1,1.3-0.4c0.4-0.2,0.9-0.6,1.4-1L38.5,0L20.1,0L1.7,0z"></path>
      </symbol>
      <symbol id="following" viewbox="0 0 39.1 39.1">
        <path d="M16.3,32.5c-0.3,0.4-0.9,0.4-1.2,0L5.8,21.2c-0.3-0.4-0.3-1,0.1-1.3l1-0.9        c0.4-0.3,0.9-0.3,1.3,0l6.6,6c0.4,0.3,1,0.4,1.4,0l15.8-12.8c0.4-0.3,1-0.3,1.3,0.1l0,0c0.4,0.3,0.4,0.9,0.1,1.3L16.3,32.5z"></path>
        <path d="M19.6,39.1C8.8,39.1,0,30.3,0,19.6C0,8.8,8.8,0,19.6,0c10.8,0,19.6,8.8,19.6,19.6        C39.1,30.3,30.3,39.1,19.6,39.1z M19.6,2.5c-9.4,0-17.1,7.7-17.1,17.1s7.7,17.1,17.1,17.1S36.7,29,36.7,19.6S29,2.5,19.6,2.5z"></path>
      </symbol>
    </svg>
    <div class="desktop-only">

    </div>
    <div class="app-container">
      <radio-friends>
        <div class="initialLogo">
          <svg viewBox="0 0 459.35 115.8">
            <use xlink:href="#logo" />
          </svg>
          <p>is tuning in...</p>
        </div>
      </radio-friends>
    </div>

    <script src="js/app/bundle.js"></script>
    <script type='text/javascript' src="js/jquery-1.11.1.min.js"></script>
    <script type='text/javascript' src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
